* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(255, 255, 255);

  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  width: 80rem;
  /* width: 80vw; */
  height: 80vh;

  border: 2px solid white;
}

.part1 {
  display: flex;
  padding: 1rem;
  margin: 1rem;
}

#inout {
  width: 10rem;
  padding: 5px;
  font-size: 20px;
}

.btn {
  background-color: rgb(88, 186, 121);
  width: 7rem;
  height: 3rem;
  border: none;
}

#change-btn {
  width: 10rem;
  font-weight: bolder;
}

.toast-message {
  position: fixed;
  z-index: 999;
  top: 2rem;
  right: 2rem;
  background-color: rgb(181, 199, 145);
  border: 2px solid red;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 1, 1, 0.2);
  padding: 1rem;
  font-size: 1rem;
  font-weight: bold;
}

.toast-message-slide-in {
  animation: toast-animation-in 1s ease-in;
}

@keyframes toast-animation-in {
  from {
    transform: translateX(200px);
    opacity: 0;
  }

  to {
    transform: translateX(0px);
    opacity: 1;
  }
}

.toast-message-slide-out {
  animation: toast-animation-out 1s ease-in;
}

@keyframes toast-animation-out {
  from {
    transform: translateX(0px);
    opacity: 1;
  }

  to {
    transform: translateX(200px);
    opacity: 0;
  }
}
